@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.header {
  padding: 0 !important;
  min-width: 100% !important;
  margin: 0 !important;
}